

:root {
  --background: #2e2e2e;
}

.App {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--background);
  height: 100vh;
  color: white;
  font-size: 2em;
  overflow: hidden;;
}
