

.altitude-wrapper { 
    height: calc(100vh - 6vh);
}

.panel-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999999;
    overflow-y: auto;
}

.panel-checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    max-height: 45%;
}

.panel-checkbox {
    background: rgba(50, 50, 50, 0.9)  !important;
    padding: 2px 15px !important;
    border-radius: 5px !important;
    font-size: 1.4em;
}

.panel-checkbox:hover {
    background: rgba(50, 50, 50, 0.95) !important;
}

.panel-checkbox.btn-checked {
    background-color: rgba(50, 50, 50, 1) !important;
}



