.filter-button {
    position: fixed;
    top: 100px;
    left: 50px;
    cursor: pointer;
    font-size: 2em;
    border-radius: 100px;
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--background);
    fill: var(--highlight-text-2);
    padding: 15px;
    z-index: 999;
}

.filter-button:hover {
    fill: var(--highlight-text);
}