.toolbar-button {
    cursor: pointer;
    font-size: 2em;
    border-radius: 100px;
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--background);
    fill: var(--highlight-text-2);
    padding: 15px;
    z-index: 999;
}

.toolbar-button:hover {
    fill: var(--highlight-text);
}


.toolBar{
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px;
    position: fixed;
    width: 5%;
    height: 80%;
    z-index: 999;
}