

.sweetalert-popup {
    width: auto;
    max-width: none;
    padding: 30px 50px;
}

.swal-checkboxes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 30px 0px;
}

.seg-checkbox {
    padding: 10px 25px !important;
    white-space: nowrap;
}
