

.sweetalert-popup {
    width: auto;
    max-width: none;
    padding: 30px 50px;
}

.seg-popup-wrapper {
    position: fixed;
    top: 200px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 99999999999;
}

.seg-popup-container {
    background: var(--background);
    border-radius: 5px;
    padding: 5px 25px;
}

.seg-popup-section {
    display: flex;
    gap: 30px;
    margin: 20px 0px;
}

.seg-center-section {
    justify-content: space-between;
}

.seg-title { font-size: 1.4em; }

.seg-data { font-size: 1.3em; }

.seg-checkboxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 10px 0px;
}

.seg-checkbox {
    padding: 5px 20px !important;
    white-space: nowrap;
}
