.container{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    
}

.content{
    position: relative;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    height: 85%;
    justify-content: center;
    background-color: #3F3F3F;
    color: white;
    border: solid #2146FF;
    border-width: 3px;
}

.subsection{
    position: relative;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    height: fit-content;
    border-radius: 25px;
    margin-top: 5px;
}

.subsection .title{
    width: 100%;
    position: relative;
    height: 20%;
    display: flex;
    font-size: 17.5px;
    justify-content: start;
}


.subsection .items{
    display: flex;
    width: 100%;
    min-height: 35px;
    height: 80%;
    padding: 5px;
    border-radius: 10px;
    background-color: #323232;
}


.subsection .items .item{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    background-color: #9CADFF;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.done-button{
    background-color: #2146FF; 
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}