

.graph-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px auto;
}

.zoom-btns {
    position: absolute;
    width: 20px;
}

.zoom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 5px !important;
    background: var(--background-3) !important;
}


#tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    font: 1.3em sans-serif;		
    opacity: 0;	
    background: var(--background);
    padding: 10px 15px;
    border-radius: 10px;
    transition: opacity 200ms ease;
}

#tooltip div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.tooltip-text {
    color: var(--background);
}

.graph-palette {
    width: 30px;
    height: 80%;
}


.svg-left svg {
    width: 100%;
}

.svg-right {
    overflow: auto hidden;
}

.svg-right svg {
    width: 100%;
}