
.signup-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 350px;
    height: 80vh;
    margin: auto;
}

.signup-wrapper h2 {
    margin: 10px;
}

.signup-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px;
}

.signup-input-container input {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.4em;
}

.signup-btn {
    width: 30%;
    padding: 15px 25px !important;
    margin: 40px auto;
}


