

.ml-wrapper {
    height: 100%;
}

.ml-checkboxes {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    z-index: 999999;
}

.ml-checkbox {
    padding: 10px !important;
}

.ml-checkbox.btn-checked {
    padding: 10px !important;
    background-color: rgba(50, 50, 50, 0.8) !important;
}