

.ml-wrapper { 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ml-map {
    height: 50%;
}


.ml-graph {
    height: 50%;
}

.ml-checkboxes {
    position: absolute;
    top: 70px;
    left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    z-index: 999999;
    max-height: 45%;
    overflow-y: scroll;
}

.ml-checkbox {
    background-color: rgba(50, 50, 50, 0.8) !important;
    padding: 7px 25px !important;
    border-radius: 3px !important;
}

.ml-checkbox.btn-checked {
    background-color: rgba(50, 50, 50, 0.95) !important;
}

