

.ml-wrapper {
    height: 100%;
}

.ml-checkboxes {
    position: absolute;
    top: 140px;
    left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 999999;
    width: 200px;
    max-height: 83vh;
    overflow-y: scroll;
}

.ml-checkbox {
    background-color: rgba(50, 50, 50, 0.6) !important;
    padding: 10px !important;
}

.ml-checkbox.btn-checked {
    padding: 10px !important;
    background-color: rgba(50, 50, 50, 0.8) !important;
}