

.nav-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    background-color: var(--background);
    z-index: 99999;
}

.nav-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav-tab {
    font-size: 2.2vh;
    color: white;
    text-decoration: none;
    margin: 0px 3vw;
}

.nav-tab-active {
    color: var(--highlight-text);
}