


.sweetalert-popup {
    background: var(--background);
    width: max(700px, 40vw);
}

.sweetalert-title {
    font-weight: normal;
    font-size: 1.3em;
}

.sweetalert-input {
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.sweetalert-checkboxes {
    width: 110%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    justify-items: center;
    margin: 20px 0px;
}

.gradient-wrapper {
    width: 90%;
    margin: 35px auto 15px auto;
    color: black;
}