.container-segment{
    position: fixed;
    
    top: 100px;
    left: 75%;
    width: 20%;
    height: 80%;
    background-color: black;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.content-segment{
    position: relative;
    border: solid #2146FF;
    border-width: 3px;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    height: 100%;
    justify-content: center;
    background-color: #3F3F3F;
    
    color: white;
}

.section{

    margin-bottom: 20px;


}

.subsection-segment{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 25px;
}

.way{
    font-size: 20px;
}

.data{
    font-size: 20px;
}

.value{
    font-size: 25px;
}

.dataScrollable{
    width: 100%;
    height: fit-content;
    max-height: 150px;
    background-color: #2146FF;
    margin-bottom: 10px;
    overflow-y: auto;
    border-radius: 5px;
}

.scrollableItem{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    background-color: #6F6F6F;
    height: 40px;
    box-sizing: border-box;
    border: solid black;
    border-width: 2px;
    border-radius: 2px;
}

