


.sweetalert-popup {
    background: var(--background);
    width: max(700px, 40vw);
}

.sweetalert-title {
    font-weight: normal;
    font-size: 1.3em;
}

.sweetalert-input {
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 7px 10px;
    margin-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sweetalert-checkboxes {
    width: 110%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    justify-items: center;
    margin: 20px 0px;
}

.react-select-combobox {
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color:black;
    white-space: pre-wrap !important;
}

.gradient-wrapper {
    width: 90%;
    margin: 35px auto 15px auto;
    color: black;
}