/*/** @author Martin Nielsen s174971 * */
.sweetalert-popup {
  background: var(--background);
  width: max(700px, 40vw);
  padding: 0 0 0 0;
  max-height: fit-content;
}

.sweetalert-title {
  font-weight: normal;
  font-size: 1.3em;
  padding: 0 0 0 0;
}

.sweetalert-htmlContainer {
  margin: 0.2em 1.6em 0em;
}

.sweetalert-input {
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  width: 70%;
  padding: 7px 10px;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sweetalert-actions {
  margin: 0.15em auto;
}

.sweetalert-checkboxes {
  width: 110%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-evenly;
  justify-items: center;
  margin: 0.5em 0em;
}

/*/** @author Matteo Hoffmann s222952, Mads Westerman s174508 * */
.react-select-combobox {
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  width: 70%;
  margin-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  color: black;
  white-space: pre-wrap !important;
}

.react-select-combobox-filter {
  font-size: 1.1em;
  border: none;
  border-radius: 2px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  color: black;
  white-space: pre-wrap !important;
}

.gradient-wrapper {
  width: 90%;
  margin: 35px auto 4px auto;
  color: black;
}
p.tiny {
  font-size: medium;
}
