

.rides-wrapper {
    display: grid;
    grid-template-columns: 170px 270px auto;
    height: calc(100% - 6vh);
}


.map-container {
    display: grid;
    grid-template-rows: 65% auto;
    height: 100%;
}

.map-container .leaflet-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chart-wrapper {
    width: 100%;
    height: 100%;
    /* max-width: 1000px; */
    margin: auto;
}