

.meta-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding-top: 5px;
    background-color: var(--background-2);
    text-align: left;
}

.ride-metadata-list {
    max-width: 230px;
    padding: 0px 20px 100px 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ride-metadata-separation {
    width: 80%;
    min-height: 1px;
    background: white;
    margin: 10px 0px 10px 0px;
}

.ride-metadata-elt {
    font-size: 0.9em;
    margin-top: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ride-metadata-elt b {
    color: var(--highlight-text);
}

.sublist-elt b {
    color: lightblue;
}

.sublist-elt {
    margin-left: 10px;
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 7px;
}

.popup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.ride-metadata-checkbox {
    width: 80%;
    margin-bottom: 5px;
    font-size: 0.9em !important;
    padding: 10px 10px !important;
}

.checkbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3px
}

.checkbox-text {
    width: 80%;
    display: flex;
    align-items: center;
}

.checkbox-title {
    display: flex;
    align-items: center;
    max-width: 65%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}

.edit-meas-btn {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    padding: 0px !important;
}

.edit-meas-btn:hover {
    stroke-width: 2;
}

.edit-meas-btn:active {
    width: 20px;
    height: 20px;
    padding: 1.5px 0px !important;
}

.md-checkbox-add {
    margin-top: 5px;
    background: var(--background-3) !important;
}

.md-checkbox-add:hover {
    background: var(--background-3-hover) !important;
}

.ride-metadata-checkbox .jsx-parser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-subtitle {
    color: grey;
    font-size: 0.7em;
    margin: 0px 10px;
    text-transform: capitalize;
}