

.rides-wrapper {
    display: grid;
    grid-template-columns: 170px 270px auto;
    height: calc(100% - 6vh);
}


.map-container {
    display: grid;
    grid-template-rows: 60% 40%;
    height: 100%;
}

.map-container .leaflet-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chart-wrapper {
    width: 100%;
    height: 100%;
    /* max-width: 1000px; */
    margin: auto;
}

/* .leaflet-interactive {
    stroke-width: 2;
} */
/* .leaflet-tile {
    border: solid red 1px;
  } */