

.ride-list {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(58, 58, 58);
    overflow-x: hidden;
    overflow-y: scroll;
}

.ride-search-container {
    display: flex;
    height: 40px;
    min-height: 40px;
}

.ride-search-date-input {
    width: 50%;
    background: none;
    border: none;
}

.ride-search-input {
    width: 100%;
    padding-left: 10px;
    border: none;
    color: white;
    font-size: 1.1em;
    background: var(--lightgrey);
}

.ride-search-cross {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: var(--lightgrey);
}

.ride-sort-cb {
    font-size: 1.1em !important;
    border-radius: 0px !important;
    padding: 10px 15px !important;
    margin-bottom: 20px;
    background: var(--grey) !important;
}

.ride-sort-cb.btn-checked {
    background: var(--orange-background) !important;
    color: var(--orange-text) !important;
}

.ride-card-container {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0px;
    font-size: 1em !important;
}