

.rides-wrapper {
    display: grid;
    grid-template-columns: 150px 270px auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: calc(100% - 8vh);
    padding: 0px 10px;
}



.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.map-container .leaflet-container {
    width: 100%;
    height: 100%;
}

/* .leaflet-interactive {
    stroke-width: 2;
} */
.leaflet-tile {
    border: solid red 1px;
  }