

.meta-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding-top: 5px;
    background-color: rgb(58, 58, 58);
    text-align: left;
}

.ride-metadata-list {
    max-width: 230px;
    padding: 0px 20px 100px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ride-metadata-separation {
    width: 80%;
    min-height: 1px;
    background: white;
    margin: 10px 0px 10px 0px;
}

.ride-metadata-elt {
    font-size: 1em;
    margin-top: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ride-metadata-elt b {
    color: var(--highlight-text);
}

.sublist-elt b {
    color: lightblue;
}

.sublist-elt {
    margin-left: 10px;
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 7px;
}

.popup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.ride-metadata-checkbox {
    width: 85%;
    margin-bottom: 5px;
    font-size: 1.1em !important;
    padding: 10px 10px !important;
}

.checkbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px
}

.checkbox-title {
    display: flex;
    align-items: center;
}

.edit-meas-btn {
    width: 23px;
    height: 23px;
    margin-right: 3px;
    padding: 0px !important;
}

.edit-meas-btn:hover {
    stroke-width: 2;
}

.edit-meas-btn:active {
    width: 20px;
    height: 20px;
    padding: 1.5px 0px !important;
}

.md-checkbox-add {
    margin-top: 5px;
    background: rgba(85, 85, 97, 0.5) !important;
}

.md-checkbox-add:hover {
    background: rgba(85, 85, 97, 0.8) !important;
}

.ride-metadata-checkbox .jsx-parser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-subtitle {
    color: grey;
    font-size: 0.7em;
    margin: 0px 10px;
}