

.meta-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    min-width: 300px;
    max-width: 350px;
    min-height: 100%;
    padding: 20px 10px;
    background-color: rgb(58, 58, 58);
    text-align: left;
}

.ride-metadata-list {
    width: 100%;
    overflow-y: scroll;
}

.ride-metadata-separation {
    width: 80%;
    height: 1px;
    background: grey;
    margin: 20px 0px 30px 0px;
}

.ride-metadata-elt {
    font-size: 1em;
    margin-bottom: 8px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ride-metadata-checkbox {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.1em !important;
}