

.ride-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    background-color: rgb(58, 58, 58);
}

.rides-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-date-picker {
    padding: 5px 0px;
}

.options-date-picker div {
    border: none;
}

.options-date-picker svg {
    stroke: white;
}

.options-date-picker input {
    color: white !important;
}

.ride-search-input {
    width: 90%;
    padding: 15px 10px;
    border: none;
    color: white;
    font-size: 1em;
    outline: none;
    background-color: var(--background-2);
}

.ride-sort-cb {
    font-size: 1.1em !important;
    padding: 10px 30px !important;
    margin: 10px 0px;
    background: var(--background-3) !important;
}

.ride-sort-cb.btn-checked {
    background: var(--orange-background) !important;
    color: var(--orange-text) !important;
}

.ride-card-container {
    width: 100%;
    padding: 15px 0px;
    font-size: 0.9em !important;
    border-radius: 0px !important;
    color: lightgrey;
}

.ride-card-container > .jsx-parser > b {
    color: white;
    font-size: 1.1em !important;
}

.ride-card-container:nth-child(even) {
    margin: 1px 0px;
}