

.meta-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding-top: 5px;
    background-color: rgb(58, 58, 58);
    text-align: left;
}

.ride-metadata-list {
    width: calc(100% - 40px);
    padding: 0px 20px 100px 20px;
    overflow-y: scroll;
}

.ride-metadata-separation {
    width: 80%;
    height: 2px;
    background: white;
    margin: 20px 0px 30px 0px;
}

.ride-metadata-elt {
    font-size: 1em;
    margin-top: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.ride-metadata-elt b {
    color: var(--highlight-text);
}

.sublist-elt b {
    color: lightblue;
}

.sublist-elt {
    margin-left: 10px;
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 7px;
}

.ride-metadata-checkbox {
    width: 85%;
    margin-bottom: 5px;
    font-size: 1.1em !important;
}