
.wrapper {
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    max-width: 80%;
    min-width: 100px;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36 px #222;
    background-color: #fefefe
}

.form-wrapper > h2 {
    display: flex;
    justify-content: center;
    font-size: 1.0em;
    font-weight: normal;
    margin-top: 0.25em;
    color: #222
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper label {
    margin-bottom: 0.3em;
    font-size: 0.5em;
    color: #444;
    font-weight: normal;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5
}

input::placeholder {
    font-size: 1.0em;
    font-weight: normal;
    color: #bbb;
}

.submit-button {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: #2e2e2e;
    font-size: 0.5em;
    color: #fefefe;
    text-decoration: none;
}
.submit-button:hover{
    background-color: #5f5e5e;
    color: #fefefe
}

.username,
.email,
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
