

.toolbar-wrapper {
    position: fixed;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 99999999999;
}

.toolbar-container {
    display: flex;
    gap: 30px;
}

.filter-button {
    cursor: pointer;
    font-size: 2em;
    border-radius: 100px;
    font-family: 'Noto Sans JP', sans-serif;
    background: var(--background);
    fill: var(--highlight-text-2);
    color: var(--highlight-text-2);
    padding: 15px;
}

.filter-button:hover {
    fill: var(--highlight-text);
    color: var(--highlight-text);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.seg-popup-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seg-popup-container {
    background: var(--background);
    border-radius: 5px;
    padding: 5px 25px;
}

.dir-popup-container {
    display: flex;
    justify-content: space-around;

}

.seg-popup-section {
    display: flex;
    gap: 30px;
    margin: 20px 0px;
}

.seg-center-section {
    justify-content: space-between;
}

.seg-title { font-size: 1.4em; }

.seg-data { font-size: 1.3em; }

.seg-checkboxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 10px 0px;
}

.seg-checkbox {
    padding: 5px 20px !important;
    white-space: nowrap;
}

.dir-checkbox {
    width: 100px;
    padding: 10px;
    margin: 5px 0px;
}
